:root {
  --default-font: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Manrope", sans-serif;
  --nav-font: "Manrope", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #ffffff;
  /* Background color for the entire website, including individual sections */
  --default-color: #091020;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #1f2c4a;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: #6e90f6;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #FFC339;
  /* The default color of the main navmenu links */
  --nav-hover-color: #ffffff;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff;
  /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff;
  /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529;
  /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #0d42ff;
  /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
/* Global Header on Scroll
------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
/* Navmenu - Mobile */
/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}
/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h2 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 50px;
}

h3 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h4 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h5 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* banner section */
/*responsive*/
@keyframes slideRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.header {
  display: block;
  width: 100%;
  z-index: 99;
  padding: 15px;
}
.header .item-left {
  flex: 0 0 17%;
}
.header .logo a {
  font-size: 30px;
  color: var(--default-color);
  font-weight: 700;
  text-decoration: none;
}
.header .logo a img {
  max-width: 200px;
}
.header .item-center {
  flex: 0 0 45%;
}
.header .item-right {
  flex: 0 0 35%;
  display: flex;
  justify-content: flex-end;
}
.header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.header .item-right a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
}
.header .item-right .header-get-started {
  border: 2px solid var(--nav-color);
  border-radius: 40px;
  padding: 10px 25px;
  font-weight: 600;
}
.header .item-right .header-get-started:hover {
  background-color: var(--nav-color);
  color: var(--default-color);
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}
.header .menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: rgba(14, 29, 52, 0.9);
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}
.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: var(--accent-color);
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
}
.header .menu > ul > li .sub-menu > ul > li > a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
}
.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
  top: 0;
  z-index: -1;
  padding-top: 100px;
  padding-bottom: 60px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item {
  padding: 0 15px;
  position: relative;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item .title {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  padding: 10px 0;
  margin-bottom: 5px;
  transition: all 0.5s;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item p {
  font-size: 14px;
  line-height: 1.6;
  color: #BCC5DF;
  transition: all 0.5s;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item img {
  transition: all 0.5s;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item:hover img {
  opacity: 0.5;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item:hover p {
  color: #fff;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 .list-item:hover .title {
  color: var(--nav-color);
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title {
  text-align: center;
  margin-bottom: 20px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title {
  margin-bottom: 0px;
}
.header .menu > ul > li:hover > a {
  color: var(--nav-color);
}
.header .menu .menu-main {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}

.banner-section {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}

.mobile-menu-head {
  display: none;
}

.mobile-menu-trigger {
  display: none;
}

.menu-overlay {
  position: fixed;
  background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1098;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.menu-overlay.active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .header .item-center {
    order: 3;
    flex: 0 0 100%;
  }
  .header .item-left {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .header .item-right {
    flex: 0 0 50%;
    align-items: center;
  }
  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: var(--nav-mobile-background-color);
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-mobile-background-color);
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav-mobile-background-color);
    top: 6px;
  }
  .header .menu {
    position: fixed;
    width: 320px;
    background-color: var(--background-color);
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--default-color);
  }
  .header .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
  }
  .header .menu > ul > li .sub-menu.mega-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
    z-index: 9;
  }
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
    background-color: #0e1d34;
  }
  .header .menu > ul > li .sub-menu.active {
    display: block;
  }
  .header .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: var(--background-color);
    top: 0;
  }
  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: var(--default-color);
    font-size: 16px;
    display: none;
  }
  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: var(--default-color);
  }
  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: var(--default-color);
    font-size: 25px;
  }
  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }
  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header .menu.active {
    transform: translate(0%);
  }
}
.v-center {
  justify-content: space-between;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.scrolled .header {
  padding: 10px 0;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  background-color: rgba(14, 29, 52, 0.9);
}

.footer {
  color: #fff;
  background-color: var(--heading-color);
  font-size: 14px;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  background: url(../img/footer-bg-overlay.png);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer .footer-top {
  padding-top: 50px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  position: relative;
  z-index: 9;
}
.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}
.footer .footer-about .logo img {
  max-height: 60px;
  margin-right: 6px;
}
.footer .footer-about .logo span {
  color: var(--heading-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}
.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}
.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FFC339;
  background-color: #FFC339;
  font-size: 16px;
  color: var(--heading-color);
  margin-right: 10px;
  transition: 0.3s;
}
.footer .social-links a:hover {
  color: var(--default-color);
  border-color: var(--default-color);
}
.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  color: #fff;
}
.footer .footer-links {
  margin-bottom: 30px;
}
.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-links ul a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  display: inline-block;
  line-height: 1;
  color: #BCC5DF;
}
.footer .footer-links ul a:hover {
  color: var(--accent-color);
}
.footer .footer-contact p {
  margin-bottom: 5px;
}
.footer .copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid color-mix(in srgb, var(--heading-color), transparent 90%);
  position: relative;
  z-index: 9;
}
.footer .copyright p {
  margin-bottom: 0;
}
.footer .footer-compliant {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}
.footer .footer-compliant span {
  width: 130px;
  padding: 8px;
  border: 1px solid #ddd;
  height: 60px;
  border-radius: 10px;
  display: inline-block;
}
.footer .footer-compliant span img {
  width: 100%;
}

#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}
#preloader:before {
  content: "";
  position: absolute;
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation-delay: -0.5s;
}

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}
.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 0 80px 0;
  text-align: center;
  position: relative;
}
.page-title:before {
  content: "";
  background-color: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
}
.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}
.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.page-title .breadcrumbs ol a {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}
.page-title .breadcrumbs ol a:hover {
  color: var(--contrast-color);
}
.page-title .breadcrumbs ol li + li {
  padding-left: 10px;
}
.page-title .breadcrumbs ol li + li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

.section-title {
  padding: 30px 0;
  margin-bottom: 30px;
  position: relative;
  padding-top: 0;
}
.section-title h2 {
  font-size: 54px;
  font-weight: 900;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.section-title .section-title-label {
  margin-bottom: 15px;
}
.section-title .section-title-label span {
  background-color: #CFD9EF;
  padding: 5px 20px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
}

.bg-light {
  background-color: #F7F9FF !important;
}

.hero {
  width: 100%;
  min-height: 90vh;
  position: relative;
  padding: 120px 0 60px 0;
  display: flex;
  align-items: center;
}
.hero .hero-bg {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  object-position: bottom;
}
.hero .container {
  position: relative;
  z-index: 3;
}
.hero h1 {
  margin-bottom: 20px;
  padding: 0;
  font-size: 70px;
  font-weight: 900;
  color: #fff;
}
.hero p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #fff;
}
.hero .hero-get-started {
  background-color: #FFC339;
  color: var(--default-color);
  padding: 10px 30px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 20px;
}
.hero .hero-get-started i {
  display: inline-block;
  padding-left: 10px;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.hero .hero-get-started:hover {
  background-color: var(--accent-color);
  color: #fff;
}
.hero .hero-get-started:hover i {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}

@media only screen and (max-width: 560px) {
  .section-title .section-title-label span {
    display: block;
  }
}
/*----------------------------
homepage service section
-----------------------------*/
.service-card {
  position: relative;
  padding: 15px;
  padding-bottom: 120px;
  box-shadow: 2px 4px 19.4px 0 rgba(4, 20, 24, 0.09);
  border-radius: 20px;
  transition: all 0.3s;
  overflow: hidden;
}
.service-card .service-img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  max-height: 200px;
  transition: all 0.5s;
}
.service-card .service-img.service-paycard {
  max-height: 100px;
}
.service-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.service-card:hover .service-img {
  transform: scale(1.3);
}
.service-card .card-body {
  padding-bottom: 50px;
}
.service-card.service-card-theme {
  background: var(--accent-color);
  background: linear-gradient(103deg, var(--accent-color), #4b76de 100%);
}
.service-card.service-card-theme h3 {
  color: #fff;
}
.service-card.service-card-theme p {
  color: #fff;
}
.service-card.service-card-theme .service-card-light-circle {
  background-color: rgba(255, 255, 255, 0.058);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -30%;
}
.service-card.service-card-theme .btn-theme-gradient {
  background: rgba(255, 255, 255, 0.171);
}
.service-card.service-card-theme .btn-theme-gradient:hover {
  background: linear-gradient(103deg, #ffce5f, var(--nav-color) 100%);
  color: var(--default-color);
}
.service-card h3 {
  font-size: 32px;
}

.btn-theme-gradient {
  background: var(--accent-color);
  background: linear-gradient(103deg, var(--accent-color), #4b76de 100%);
  color: #fff;
  font-weight: 600;
}
.btn-theme-gradient i {
  display: inline-block;
  padding-left: 0px;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.btn-theme-gradient:hover {
  background: linear-gradient(103deg, #ffce5f, var(--nav-color) 100%);
  color: var(--default-color);
}
.btn-theme-gradient:hover i {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}

@media only screen and (max-width: 540px) {
  .service-card {
    padding-bottom: 170px;
  }
}
/*-------------------------
homepage feature section
------------------------*/
.feature-section {
  position: relative;
  background-color: #f1f5ff;
}
.feature-section .btn-theme-gradient {
  position: relative;
}

.feature-card {
  position: relative;
  padding: 15px;
  padding-bottom: 120px;
  box-shadow: 2px 4px 19.4px 0 rgba(4, 20, 24, 0.09);
  border-radius: 20px;
  transition: all 0.3s;
  overflow: hidden;
}
.feature-card .feature-icon {
  position: absolute;
  width: 100px;
  right: 25px;
  bottom: 25px;
  transition: all 0.5s;
}
.feature-card .feature-fast-activation-curve {
  position: absolute;
  bottom: -25%;
  right: 0;
}
.feature-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.feature-card:hover .feature-icon {
  transform: scale(1.3);
}
.feature-card .card-body {
  padding-bottom: 50px;
  z-index: 9;
}
.feature-card.feature-card-theme {
  background: var(--accent-color);
  background: linear-gradient(103deg, var(--accent-color), #4b76de 100%);
}
.feature-card.feature-card-theme h3 {
  color: #fff;
}
.feature-card.feature-card-theme p {
  color: #fff;
}
.feature-card.feature-card-theme .feature-card-light-circle {
  background-color: rgba(255, 255, 255, 0.058);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -30%;
}
.feature-card.feature-card-theme .btn-theme-gradient {
  background: rgba(255, 255, 255, 0.171);
}
.feature-card.feature-card-theme .btn-theme-gradient:hover {
  background: linear-gradient(103deg, #ffce5f, var(--nav-color) 100%);
  color: var(--default-color);
}
.feature-card h3 {
  font-size: 32px;
}

/*---------------------
homepage high-energy  section
--------------------------*/
.high-energy-section {
  position: relative;
}

/*---------------------
homepage call to action  section
--------------------------*/
.call-to-action {
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);
  background-color: #F7F9FF;
}
.call-to-action .container {
  position: relative;
  z-index: 3;
}
.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--default-color);
}
.call-to-action p {
  color: var(--default-color);
}
.call-to-action .cta-btn {
  background: var(--accent-color);
  background: linear-gradient(103deg, var(--accent-color), #4b76de 100%);
  color: #fff;
  font-weight: 600;
}
.call-to-action .cta-btn i {
  display: inline-block;
  padding-left: 0px;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.call-to-action .cta-btn:hover {
  background: linear-gradient(103deg, #ffce5f, var(--nav-color) 100%);
  color: var(--default-color);
}
.call-to-action .cta-btn:hover i {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}

/*-------------------------
homepage faq section 
---------------------------*/
.faq .faq-container {
  margin-top: 15px;
}
.faq .faq-container .faq-item {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #F7F9FF;
  overflow: hidden;
  transition: 0.3s;
}
.faq .faq-container .faq-item:last-child {
  margin-bottom: 0;
}
.faq .faq-container .faq-item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 30px 0 32px;
  transition: 0.3s;
  cursor: pointer;
}
.faq .faq-container .faq-item h3 span {
  color: var(--accent-color);
  padding-right: 5px;
}
.faq .faq-container .faq-item h3:hover {
  color: var(--accent-color);
}
.faq .faq-container .faq-item .faq-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.faq .faq-container .faq-item .faq-content p {
  margin-bottom: 0;
  overflow: hidden;
}
.faq .faq-container .faq-item .faq-icon {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: 20px;
  line-height: 0;
  transition: 0.3s;
  color: var(--accent-color);
}
.faq .faq-container .faq-item .faq-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  line-height: 0;
  transition: 0.3s;
  cursor: pointer;
}
.faq .faq-container .faq-item .faq-toggle:hover {
  color: var(--accent-color);
}
.faq .faq-container .faq-active {
  background-color: var(--heading-color);
  transition: 0.3s;
}
.faq .faq-container .faq-active h3 {
  color: var(--contrast-color);
}
.faq .faq-container .faq-active h3:hover {
  color: var(--contrast-color);
}
.faq .faq-container .faq-active .faq-toggle {
  color: var(--contrast-color);
  transform: rotate(90deg);
}
.faq .faq-container .faq-active .faq-icon {
  color: var(--contrast-color);
}
.faq .faq-container .faq-active .faq-content {
  color: var(--contrast-color);
  grid-template-rows: 1fr;
  visibility: visible;
  opacity: 1;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .hero h1 {
    font-size: 40px;
  }
}
/*---------------------
inner page css starts
------------------*/
.inner-hero h1 {
  font-size: 60px;
}

@media (max-width: 991px) {
  .inner-hero h1 {
    font-size: 35px;
  }
}
/*-------------------
contact page css
--------------------*/
.contact-hero {
  min-height: 70vh;
}
.contact-hero img.hero-bg {
  object-position: center;
}

.contact-form .form-control {
  min-height: 48px;
  background-color: #fafbff;
}
.contact-form .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--accent-color);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/*# sourceMappingURL=main.css.map */
